<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/courses.css">
</head>
<body>
   
    <div class="header d-flex justify-content-end text- ">
       

     
        <i><i class="fa-regular fa-bell p-4 "></i></i>
        <h4 class="p-3">120100112</h4>
        <h4 class="p-3">Menna Nabil</h4>
        <div class="icon">
            <img  src="img/Ellipse 2.png" alt="" >
        </div>
    </div>
    <nav>
        <div class="navbar pt-5  ps-5">
            
            <header >
                <div class="container ">
                    <div class="row">
                        <div class="col-xl-4 d-flex text-center">
                            <img  width="140" src="img/Modern.png " alt="">
                            <h2 class="h2"  >Modern   Academy </h2>
                        </div>
                        <div class="col-xl-8 d-flex justify-content-center  ">

                            <nav class="navbar navbar-expand-lg  ">
                                <div class="container ps-5  ">
                    <div class="collapse navbar-collapse  ps-5" id="navbarSupportedContent">
                                    <ul class="navbar-nav   ">
                                    <li class="nav-item ps-5">
                                        <a class="nav-link" href="#courses"><h4>Courses</h4></a>
                                    </li>
                                    <li class="nav-item ps-5">
                                        <a class="nav-link" href="grads.html" > <h4>Grades</h4></a>
                                    </li>
                                    <li class="nav-item ps-5">
                                        <a class="nav-link" href="profile.html"> <h4>Profile</h4></a>
                                    </li>  <li class="nav-item ps-5">
                                        <a class="nav-link" href="About us.html"> <h4>AboutUs</h4></a>
                                    </li>  <li class="nav-item ps-5">
                                        <a class="nav-link" href="contact us.html"> <h4>ContactUs</h4></a>
                                </li>
                            
                                    </ul> 
                    </div>
                                </div>
                    </nav>
                        </div>
                    </div>
                </div>
            </header>
        
        

        
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row1 bg-danger">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="home-sec">
                    <img src="img/Rectangle 4.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
<section class="courses p-2" >

    <h1 class=" p-2 text-center" id="courses">Our Courses </h1>
    <div class="container ">
        <div class="row d-flex">
        <div class=" hover col-lg-6   col-md-12 col-sm-12 position-relative">
            <img src="img/Rectangle 11.png" alt="">

            <div class="hover-img text-center d-flex align-content-center justify-content-center ">
                
                
            
                <a href="embedded.html">
                    <button class=" btn  text-center h-25 "> course details</button>
                  </a>
                
            </div>
        </div>
        <div class="col-lg-4 text-center m-auto offset-2  ">
                <h2 class="py-3 " >Embedded System </h2> 
                <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, distinctio?</h5>

        </div>          
        </div>
    </div>
</section>

<section >
    <div class="container py-5 ">
        <div class="row">

            <div class="col-lg-6 text-center m-auto   ">
                <h2 class="py-3 " >Image Processing </h2> 
                <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, distinctio?</h5>
        </div>  
        
        <div class=" hover col-lg-6 position-relative  ">
            <img src="img/Rectangle 11.png" alt="">
            <div class="hover-img text-center d-flex align-content-center justify-content-center ">
                
                
            
                <a href="Image-Processing.html">
                    <button class=" btn  text-center h-25 "> course details</button>
                  </a>
                
            </div>
            
        </div>
        </div>
    </div>

    

</section>

<section class="courses p-2" >
    <div class="container ">
        <div class=" hover row d-flex position-relative">
        <div class="col-lg-6   col-md-12 col-sm-12">
            <img src="img/Rectangle 11.png" alt="">
            <div class="hover-img text-center d-flex align-content-center justify-content-center ">
                
                
            
                <a href="computer-network.html">
                    <button class=" btn  text-center h-25 "> course details</button>
                  </a>
                
            </div>
        </div>
        <div class="col-lg-4 text-center m-auto offset-2  ">
                <h2 class="py-3 " >Computer Network</h2> 
                <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, distinctio?</h5>

        </div>          
        </div>
    </div>
</section>
<section >
    <div class="container py-5 ">
        <div class="hover row position-relative">

            <div class="col-lg-6 text-center m-auto   ">
                <h2 class="py-3 " >Genitic Algorithm</h2> 
                <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, distinctio?</h5>
        </div>  
        
        <div class="col-lg-6   ">
            <img src="img/Rectangle 11.png" alt="">
            <div class="hover-img text-center d-flex align-content-center justify-content-center ">
                
                
            
                <a href="genitic-algorithm.html">
                    <button class=" btn  text-center h-25 "> course details</button>
                  </a>
                
            </div>
        </div>
        </div>
        
    </div>
<div class="div">
    <i class="fa-solid fa-arrow-up" onclick="top()"></i>
    <span class="UP">UP</span>
</div>

</section>


    <script src="js/bootstrap.min.js"></script>
    <script src="js/courses.js"></script>

    
</body>
</html>