<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/embedded.css">
    </head>
    <body>
        <div class="header d-flex justify-content-end ">
            <i><i class="fa-regular fa-bell p-4 "></i></i>
            <h4 class="p-3">120100112</h4>
            <h4 class="p-3">Menna Nabil</h4>
            <div class="icon">
                <img src="img/Ellipse 2.png" alt>
            </div>
        </div>
        <nav>
            <div class="navbar pt-5  ps-5">

                <header>
                    <div class="container ">
                        <div class="row">
                            <div class="col-xl-4 d-flex text-center">
                                <img width="140" src="img/Modern.png " alt>
                                <h2 class="h2">Modern Academy </h2>
                            </div>
                            <div
                                class="col-xl-8 d-flex justify-content-center  ">

                                <nav class="navbar navbar-expand-lg  ">
                                    <div class="container ps-5  ">
                                        <div
                                            class="collapse navbar-collapse  ps-5"
                                            id="navbarSupportedContent">
                                            <ul class="navbar-nav   ">
                                                <li class="nav-item ps-5">
                                                    <a class="nav-link"
                                                        href="courses.html"><h4>Courses</h4></a>
                                                </li>
                                                <li class="nav-item ps-5">
                                                    <a class="nav-link"
                                                        href="grads.html">
                                                        <h4>Grades</h4></a>
                                                </li>
                                                <li class="nav-item ps-5">
                                                    <a class="nav-link"
                                                        href="profile.html">
                                                        <h4>profile</h4></a>
                                                </li> <li class="nav-item ps-5">
                                                    <a class="nav-link"
                                                        href="About us.html">
                                                        <h4>AboutUs</h4></a>
                                                </li> <li class="nav-item ps-5">
                                                    <a class="nav-link"
                                                        href="contact us.html">
                                                        <h4>ContactUs</h4></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>

            </div>
        </nav>

        <div class="container-fluid ps-5 pt-3 s">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Embedded System</h3>
                    <h5>In this course you will learn How To Make project and
                        build it by your hand.</h5>
                </div>
            </div><br>
        </div>

        <div class="custom-div">
            <h4>Lecture 1 : Introduction</h4>
            <h6>module 1. 10\13 complete</h6>
        </div><br>
        <div class="custom-div">
            <h4>Lecture 2 : What is embedded System?</h4>
            <h6>module 2. 10\13 complete</h6>
        </div><br>
        <div class="custom-div">
            <h4>Lecture 3 : How to build project?</h4>
            <h6>module 3. 10\13 complete</h6>
        </div><br>

    </body>
</html>