<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Mastery Academy</title>
    <link rel="icon" href="img/4 - Copy.icon.png">
</head>
<body>

<div class="container g-5 ">
<div class="row  ">
    <div class="col-lg-6 col-md-6  ">
        <div class=" logo-login text-center   ">
            <img width="500em" src="img/Modern.png" alt="logo">
        </div>
        <div class="con text-center ">
            <h3 class="h3" >Welcome To </h3>
            <h5 class="h5"></h5>
        </div>
        
    </div>

    <div class="col-lg-6 d-flex justify-content-center align-items-center mt-5 pt-5  ">

        <div class="fram  rounded-4  w-75  ">

            <i class="fa-solid fa-graduation-cap  fs-2 ps-3 pt-1 pe-2  h-25 mt-5 "></i> <h2 class="d-inline me-3" >lOG IN</h2>
            
        <div class="con-fram p-5  rounded-4  h-50 ">
        
            <form action="login" id="loginForm">
                <label for="email"><h5>Email/ID</h5></label> <br>
                <input  class=" form-control " type="email" name="email" id="email" placeholder="Example@gmail.com"> <br> <br>
                <label for="password"><h5>Password</h5></label> <br>
                <input  class=" form-control " type="password" name="password" id="password" placeholder="**********"> <br>
                <input class="  " type="checkbox" name="education" value="graduated" placeholder="checkbox">
                <h6 class="pt-2 d-inline">remember username</h6> <br> <br> <br>
            <button   type="submit" class="btn d-flex  m-auto" ><h4 class="m-auto d-inline" id> Log in</h4></button> <br/>
            <button onclick="Register()" type="button" class=" btn btn1 d-flex  m-auto" ><h4 class="m-auto d-inline" id> Register</h4></button> <br/>
                
            </form>
            
        </div>
        
        </div>
        
    </div>
</div>
</div>

<script src="js/js.js"></script>
</body>
</html>
